*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0rem;
  gap:10px;
}
.header h1{
  font-size: 30px;

}
.header p{
  font-size: 16px;
  color:#747794;
}
.quiz-option-sec{
  width: 700px;
  border: 1px solid rgb(221, 221, 221);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.quiz-option-title{
  padding: 15px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.quiz-option-title h2{
  height: 30px;
  font-size: 24px;
  padding: auto 0px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}
.quiz-option-title i{
  background-color: white;
  color:black;
  padding: 0;
  margin: auto 0;
}
.quiz-options{
  width:100%;
  display:flex;
  gap: 20px;
  justify-content: center;
  margin: 10px 10px;
}
.quiz-options div{
  width:200px;
  font-weight: 500;
  font-size: 13px;
}
.quiz-options select{
  display:block;
  width:100%;
  padding:10px;
  margin: 7px  0px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  outline:none;
}
.quiz-options select:focus{
  border: 3px solid #5b12f7;
}
.content-input-sec{
  margin-top: 20px;
  margin-bottom: 30px;
  border: 1px solid rgb(221, 221, 221);
  width: 700px;
  border-radius: 5px;
}
.content-input-sec i{
  background-color: white;
  color:rgb(40, 40, 40);
  padding: 0;
  margin: auto 0;
}
.content-input-sec h2{
  height: 30px;
  font-size: 24px;
  padding: auto 0px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  margin:25px;
}
.input-type{
  background-color: #ededed;
  margin: 0 25px;
  display: flex;
  height: 45px;
  gap: 5px;
  border-radius: 5px;
  padding:5px;
}
.input-type button{
  width: 331px;
  height: 35px;
  margin:auto auto;
  background-color: rgb(254, 254, 254);
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}
.input-type button i{
  font-size: 16px;
}
/* .content-upload{
 
} */
#drag-drop-label{
  height: 200px;
  margin: 10px 25px; 
 display: block;
 border: 3px dashed rgb(221, 221, 221);
 border-radius: 5px;
}
#drag-drop-label:hover{
  border: 3px dashed #5b12f7;
  color:#5b12f7;
}
.drag-drop-section{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: space-around;
  color:#777;
}
.drag-drop-section i{
  color:inherit;
  font-size: 5rem;
  margin: 30px;
}
.drag-drop-section h4{
  color:inherit;
 font-weight: 400;
 margin-bottom: 5px;
}
.drag-drop-section p{
  color:inherit;
  font-weight: 400;
  font-size: 12px;
}
.drag-drop-section:hover{
  color:#5b12f7;
  background-color: aliceblue;
}
.enter-text{
  height: 200px;
  margin:  10px 25px;
}
#text-area{
  display:block;
  width:100%;
  height: 100%;
  outline: none;
  margin-top: 10px;
  border: 3px solid #777;
  padding: 5px;
  font-family:'roboto', sans-serif;
  border-radius: 5px;
  font-size: 14px;
  resize:none;
}
#text-area:hover{
   border: 3px solid #5b12f7;
  background-color: rgb(250, 250, 250);
}

#text-area:focus{
  border: 3px solid #5204fb;
}

.back-generate-btns{
  margin: 40px 25px 25px 25px;
  display:flex;
  justify-content: space-between;
}
.back-generate-btns button{
  width: 300px;
  height:40px;
  border-radius: 5px;
  border : 1px solid rgb(187, 184, 184);
}
.back-btn{
  background-color: rgb(251, 250, 250);
}

.back-btn a{
  font-size: 16px;
  color:#3b3b3c;
}
.back-btn:hover{
  background-color: #ecebeb;
}
.generate-quiz-btn{
  font-size: 16px;
  color:aliceblue;
  background:linear-gradient( to right, #5b12f7, #8149f9);
  border-radius: 5px;
}
