section{
  width:650px;

}
.prog-time{
  display:flex;
 justify-content: space-between;
 margin:10px 0;
}
.que-ans{
  display:flex;
 justify-content: space-between;
 margin:10px 0;
}
.prog-bar input{
  width:100%;
}
.q-sec{
  border:1px #cde0c5 solid;
  box-shadow: 0px 0px -2px 5px #cde0c5;
  border-radius: 10px;
  padding:10px;
}
.q-sec h3{
  margin-bottom:10px;
}
.choice{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  gap:10px;
  margin: 0 24px;
}
.prev-next-sec{
  display:flex;
  justify-content: space-between;
}